/* css */
#kieser

.benefit-content {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.08);
}

.row.grey {background:#fafafa}

#hulu
{background: linear-gradient(0deg,#2cc57b,rgba(44,197,123,0)),linear-gradient(90deg,#37bec7,rgba(55,190,199,0) 90%),linear-gradient(0deg,#aaf887,#aaf887);}


#webflow
.all {font-family: Graphik, sans-serif; }

.vivid_blue {background-color: #4353ff;}
.blue_black {background-color: #1a1b1f;}

#ramotion .headings {font-family:'Graphik Web'}
#ramotion .body_text {font-family: "Noticia Text";}

#officecleanz {
  font-family: 'Work Sans',sans-serif;
  color: #575757;
}
.h2-small {
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
  }

#bittrex-exchange-header-exploration
  #bittrex:root {
      --white: #FFFFFF;
      --medium-purple: #A65BF3;
      --mauve: #D297FF;
      --blue-violet: #742ADB;
      --heliotrope: #CB88FB;
      --medium-slate-blue: #714EF4;
  }

  #fabric .h2, h2 {
    font-weight: 900;
    font-family: gotham-black,sans-serif;
  }
  p, span {
    font-family: proxima-nova,sans-serif;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  @media screen and (min-width: 90em){
  .h2, h2 {
    font-size: 3rem;
    line-height: 4.25rem;
  }
}

  #calm

  body {font-family: Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;}
  h1 { color: #333; font-size: 38px; }
  p { font-size: 20px; line-height: 170%; margin-top: 45px; }

  #station
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Haas Grotesk Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #034b73;
    margin: 0;
}
@media (min-width: 48em){
    h2, .h2 {
        font-size: 4.0625rem;
        letter-spacing: .015384615em;
        line-height: 1.076923077;
        margin-bottom: .3em;
    }
}
body {
    font-family: "Tiempos Text",Georgia,"Times New Roman",Times,serif;
  }
  @media (min-width: 64em){}
  .lead, .lead * {
      font-size: 1.375rem;
      letter-spacing: .004545455em;
      line-height: 1.545454545;
  }
}

  #simple
  h2 {
      margin-bottom: 10px;
      font-family: CalibreSemibold, helvetica, sans-serif;
  }

body {
  color: #333e48;
  font-family: "CalibreReg", "Helvetica Neue", arial, sans-serif;
}
@media screen and (min-width: 769px){
  h2 {
      font-size: 30px;
      line-height: 38px;
  }
}
h2 {
  font-size: 1.5rem;
  line-height: 1.33333;
}
.dash-trailing:after {
    background: #0d97ff;
    display: block;
    content: '';
    height: 4px;
    margin: 16px 0;
    width: 40px;
}
.green:before { background: #19e5b0;}
.grey {color: #817d7f;}

#monzo
{
  font-size: 1.125rem; /* 18px */
  color: #14233c;
  font-family: MaisonNeue,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h2 {
    font-family: Avenir Next,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
}

#radius {}

  h1, h2, h3, h4, h5, h6, p {
    font-family: aktiv-grotesk,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif!important;
}

#sfcd {}

  h2 {
    font-family: NHaasGroteskDSPro-65Md,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body {
    font-family: adobe-garamond-pro,'Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  #intercom {}

    .t__h1 {
        font-family: "IntercomGrot", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 56px;
        letter-spacing: -0.2px;
        line-height: 1.21;
      }

      .t__h3 {
          font-family: "IntercomText", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 300;
          font-size: 24px;
          letter-spacing: -0.1px;
          line-height: 1.5;
        }

        .blue { background: #286EFA; }

        .c__grey { color: #888; }

#latitude {}
  .heading--bold {
    font-family: Lexia Ad,Lexia,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: 400;
}

body {
    color: #65686b;
  }
.h-1, h1
{color: #006ac6;}

#zelle {}
  .g1-hero {
    color: #f0edf5;
    background: #6d1ed4;
  }
  .section.theme-purple {
    background-color: #6f1fd4;
}

.btn {
    color: #f0edf5;
    cursor: pointer;
    display: inline-block;
    font-family: "ZelleSans-Demi";
    background-color: rgba(255,255,255,0.2);
  }

.dark_purple { background-color: #5b18b2; }
.bright_green { background-color: #00e1b2; }


#ninetynine_designs {}
.heading--h0 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-family: Larsseit-Bold,sans-serif;
    font-weight: 400;
    line-height: 1.05;
    letter-spacing: -.045em;
}
.paragraph {
    font-family: "Atlas Grotesk Web",sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

#askable {}
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Montserrat, 'Helvetica', 'Arial', sans-serif;
    color: #343434;
    font-weight: 600;
  }
  h3, .h3 {
    font-size: 2em;
    line-height: 1.421875em;
  }
  body {
    font-size: 1em;
    line-height: 1.625em;
    font-family: Lora, 'Helvetica', 'Arial', sans-serif;
    color: #767676;
    font-weight: 400;
  }

  .lead {
    font-size: 1.4375em;
    line-height: 1.69565217em;
}
.bg--dark *:not(a) {
    color: #f5f5f5;
}

#kissmetrics
.header-hero {background-color: #3A4DF9;}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "SofiaRegular",sans-serif;
    color: #3d466e;
}
h1 {
    font-size: 44px!important;
    font-family: "SofiaSemibold",sans-serif;
}

.button, button, input[type="submit"]:not(.popup-dom-fixer-class),
input[type="reset"], input[type="button"] {
    background: #2EC99A;
}
.section {
    background-color: #ebf5ff!important;
}

.hero h1 {
    font-size: 65px!important;
    color: #3e54ff;
    font-family: "SofiaMedium",sans-serif;
}

h4 {
    font-size: 24px!important;
    font-family: "SofiaRegular",sans-serif;
}

#fit-vids-style
.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
